/*Company Review Section*/
.review-body{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items: center;
  width: 60%;
  max-width: 70%;
  margin: auto;
  text-align:start;
  padding-bottom: 20px;
  border-radius: 10px;
}
.review-header{
  margin-bottom: 0.5em;
  margin-top: 1em;
  text-align:start;
}

.contact-mission-vision{
  display:flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  padding: 20px;
  margin: 30px auto 30px auto;
  border-radius: 10px;
  width: 60%;
  background-color: green;
  border-radius: 20px;
}
.about-us-contact{
  margin: 8px;
}
.core-values{
  display: flex;
  flex-direction: column;
  width:60%;
  padding: auto;
  justify-content: center;
  margin: auto;
  margin-bottom: 40px;;

}
.core-values-header{
text-align:start;
text-decoration: underline;
font-size: 1.2rem;
font-weight:bold;
margin-bottom: 0.5em;
}
.our-strength{
    display: flex;
    flex-direction: column;
    width:60%;
    padding: auto;
    justify-content: center;
    margin: auto;
    margin-bottom: 40px
}
.our-strength-header{
    text-align:start;
    text-decoration: underline;
    font-size: 1.2rem;
    font-weight:bold;
    margin-bottom: 0.5em;
}
.products{
  display: flex;
  flex-direction: column;
  width:60%;
  padding: auto;
  justify-content: center;
  margin: auto;
  margin-bottom: 40px;
}
.products-header{
  text-align:start;
  text-decoration: underline;
  font-size: 1.2rem;
  font-weight:bold;
  margin-bottom: 0.5em;
}

/*******table*******/
.table{
  width:100%; 
  border: 1px solid #dddddd;
  border-top:blac
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}